<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img class="d-inline-block align-middle" alt="<%= t('site_name') %>" src="<%= image_url('logo.png') %>" height="50px" />
      <%= t('site_name') %>
    </a>
    <%= yield :header %>
  </nav>
</header>
